body {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei";
}

.body-main:before {
  content: " ";
  display: block;
  padding-top: 60px;
}

.header-main {
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 4em;
}

.header-elm {
  display: inline-block;
  overflow: hidden;
}

.header-title {
  float: left;
  margin-left: 3%;
  font-size: 1.75em;
  padding-top: 5px;
}

.header-tools {
  float: right;
  margin-right: 3%;
}

.header-tools-child {
  display: inline-block;
  overflow: hidden;
  font-size: 2.75em;
  margin-left: 30px;
}

.header-login {
  float: right;
  margin-right: 3%;
  font-size: 28px;
}

.header-user-info {
  float: right;
  margin-right: 3%;
  font-size: 28px;
}

.header-title:hover {
  color: rgba(0, 0, 0, 0.7);
}

.form-content {
  width: 380px;
  margin: 0 auto;
}

/**
* 统一去掉下划线
**/
a:hover {
  text-decoration: none;
}

.footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
}

.footer-container {
    width: auto;
    padding: 0 15px;
}

.vertical-center {
    min-height: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
}

.padding-vertical {
    padding-top: 3px;
    padding-bottom: 3px;
}
