<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		{% if title %}
		    <title>{{title}}</title>
		{% else %}
		    <title>writtings</title>
		{% endif %}
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/libs/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/public.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/') }}{{ page_name }}.css">
    {% block head %}{% endblock %}
</head>
<body>
	<div class="header">
	  <div class="header-elm header-title">
	    <p>Writtings - 写你所想</p>
	  </div>
	  {% block header %}
	  {% endblock %}
	</div>
  {% block body %}{% endblock %}
	<footer class="footer">
	  <div class="footer-container text-center">
	      <p class="text-info">&copy; Copyright 2015 by <a href="https://www.github.com/shunia" target="_blank">shunia</a></p>
	    </div>
	</footer>
	<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/libs/bootstrap.min.js') }}"></script> -->
	<script type="text/javascript" data-main="{{ url_for('static', filename='js/') }}{{ page_name }}" src="{{ url_for('static', filename='js/require.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/require_config.js') }}"></script>
</body>
</html>
