{% extends "common.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
  <div class="login-main">
    <div class="modal-content form-content">
        <div class="modal-body login-form">
            <form id="login_form" class="form" method="POST" action="./login">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {% if error %}
                    <ul class="alert-danger">
                        <li>{{ error }}</li>
                    </ul>
                {% endif %}
                <div class="text-right forget-link">
                  <a href="./resetpwd"><span>Forget password?</span></a>
                </div>
                <div class="login-btn-group text-right">
                    <button type="button" class="btn" onclick="window.location.href=('./register')">Register</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
  </div>
{% endblock %}
