{% extends "header_footer_template.html" %}
{% from "_formhelpers.html" import render_field %}
{% block hf_body %}
    <div class="modal-content col-md-2 col-md-offset-5">
        <div class="modal-body login-form">
            <form id="register_form" class="form" method="POST" action="./register">
                {{ form.hidden_tag() }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.nickname) }}
                {% if error %}
                    <ul class="alert-danger">
                        <li>{{ error }}</li>
                    </ul>
                {% endif %}
                <div class="login-btn-group text-right">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}